<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETM Calc</title>
</head>
<body>
    <h1>Electronic Thermal Management</h1>
    <p>The calculator for different experiments</p>
    <p>Select from the following Experiments:</p>
    <ul>
        <li>
            <a href="/Calc_Exp1">Experiment 1: Free vibration analysis of cantilever beam using Accelerometer</a>
        </li>
        <li>
            <a href="/Calc_Exp2">Experiment 2: Forced vibration of cantilever beam using Modal Shaker</a>
        </li>
        <li>
            <a href="/Calc_Exp3">Experiment 3: Flow Measurement by Orificemeter</a>
        </li>
    </ul>
</body>
</html>